.blue-rectangle-container {
  position: relative;
  width: 100vw;
  height: 10vh;
  z-index: 1;
}

.blue-rectangle {
  position: absolute;
  width: 22%;
  height: 50%;
  background-color: rgba(0, 0, 255, 0.567);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.left {
  position: absolute;
  left: 7%;
  bottom: 100%;
  transform: translateY(-50%);
}

.center {
  left: 52%;
  transform: translate(-50%, -50%);
}

.right {
  right: 3%;
  transform: translateY(-50%);
}